@font-face {
  font-family: 'Exo 2';
  src: url('/fonts/Exo2-Regular.otf'); 
}

@font-face {
  font-family: 'Lakehurst Gothic';
  src: url('/fonts/LakehurstGothic-Medium.otf');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin: 0;
  font-family: 'Lakehurst Gothic', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*:not(h1):not(h2):not(h3):not(h4):not(h5) {
  font-weight: 700;
  margin: 0;
  font-family: 'Exo 2', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.background {
  background-image: linear-gradient( rgba(0,0,0,.5), rgba(0,0,0,.5) ),
  url('/img/background.jpg');
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.menubar {
  background-color: rgb(22, 22, 26);
  border-bottom: 1px solid rgb(61, 175, 209);
  box-shadow: 1px 1px 10px 4px rgba(61, 175, 209, 0.4);
  position: sticky;
  top: 0;
  z-index: 99;
}

.hamburger {
  background-color: rgb(61, 175, 209);
}

.menulink{
  color: rgb(61, 175, 209);
  font-family: 'Lakehurst Gothic', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.menuheader{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.loginform {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.header {
  background-color: rgba(22, 22, 26, 0.5);
  color: white;
}

.infoheader {
  background-color: rgba(22, 22, 26, 0.5);
  color: rgb(61, 175, 209);
}

.navlogo {
  height:65px;
}

.patch {
  height:200px;
  width:200px;
}

.carousel {
  border: 1px solid rgb(61, 175, 209);
  box-shadow: 1px 1px 10px 4px rgba(61, 175, 209, 0.4);
  color: rgb(61, 175, 209);
}

.card {
  background-color: rgba(47, 49, 65, 0.95);
  color: rgb(61, 175, 209);
  border: 1px solid rgb(61, 175, 209);
  box-shadow: 1px 1px 10px 4px rgba(61, 175, 209, 0.4);
}

.infocard {
  background-color: rgba(47, 49, 65, 0.4);
}