@font-face {
  font-family: 'Exo 2';
  src: url('/fonts/Exo2-Regular.otf'); 
}

@font-face {
  font-family: 'Lakehurst Gothic';
  src: url('/fonts/LakehurstGothic-Medium.otf');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  margin: 0;
  font-family: 'Lakehurst Gothic', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
  font-weight: 700;
  margin: 0;
  font-family: 'Exo 2', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.background {
  background-image: linear-gradient( rgba(0,0,0,.5), rgba(0,0,0,.5) ),
  url("https://i.ibb.co/WcC2vKR/background.jpg");
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.pagecontainer {
  padding: 10px 150px
}

.menubar {
  background-color: rgb(22, 22, 26);
  border-bottom: 1px solid rgb(61, 175, 209);
  box-shadow: 1px 1px 10px 4px rgba(61, 175, 209, 0.4);
  position: sticky;
  top: 0;
  z-index: 99;
}

.hamburger {
  border: 1px solid rgb(22, 22, 26);
  box-shadow: 1px 1px 10px 4px rgba(61, 175, 209, 0.4);
  background-color: rgb(61, 175, 209);
}

.button:hover{
  background-color: rgba(61, 175, 209, 0.4);
  border: 1px solid rgb(61, 175, 209);
}

.button{
  color: rgb(61, 175, 209);
  background-color: rgba(47, 49, 65, 0.4);
  border: 1px solid rgb(61, 175, 209);
  box-shadow: 1px 1px 10px 4px rgba(61, 175, 209, 0.4);
}

.admintab:hover{
  color: white;
  background-color: rgba(61, 175, 209, 0.4);
}

.admintab.active{
  color: white !important;
  background-color: rgba(61, 175, 209, 0.8) !important;
}

.admintab{
  color: rgb(61, 175, 209);
  background-color: rgba(47, 49, 65, 0.9);
  border: 1px solid rgb(61, 175, 209);
  box-shadow: 1px 1px 10px 4px rgba(61, 175, 209, 0.4);
}

.menulink{
  color: rgb(61, 175, 209);
  font-family: 'Lakehurst Gothic', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.menuheader{
  padding-left:67px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.loginform {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  width: 40vw;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.icon{
  height: 40px
}

.header {
  background-color: rgba(22, 22, 26, 0.5);
  color: white;
}

.infoheader {
  background-color: rgba(22, 22, 26, 0.5);
  color: rgb(61, 175, 209);
}

.navlogo {
  height:65px;
}

.patch {
  height:300px;
  width:300px;
}

.holoborder {
  border: 1px solid rgb(61, 175, 209);
  box-shadow: 1px 1px 10px 4px rgba(61, 175, 209, 0.4);
  color: rgb(61, 175, 209);
}

.card {
  background-color: rgba(47, 49, 65, 0.95);
  color: rgb(61, 175, 209);
  border: 1px solid rgb(61, 175, 209);
  box-shadow: 1px 1px 10px 4px rgba(61, 175, 209, 0.4);
}

.infocard {
  background-color: rgba(47, 49, 65, 0.4);
}

@media (max-width: 720px) {
  .pagecontainer {
    padding: 10px 0px
  }
  .card {
    font-size: 90%;
  }
  .menulink {
    font-size: 90%;
  }
  h1, h2, h3, h4, h5, h6 {
    font-size: 90%;
  }
  .navlogo {
    height:45px;
  }
  .icon{
    height: 35px
  }
  .menuheader{
    padding-left:0px;
  }
}
  
@media (min-width: 720px) and (max-width: 1080px) {
  .pagecontainer {
    padding: 10px 75px
  }
  .card {
    font-size: 95%;
  }
  .menulink {
    font-size: 95%;
  }
  h1, h2, h3, h4, h5, h6 {
    font-size: 96%;
  }
  .navlogo {
    height:50px;
  }
  .icon{
    height: 35px
  }
  .menuheader{
    padding-left:7px;
  }
}