@font-face {
  font-family: 'Lakehurst Gothic';
  src: url('/fonts/LakehurstGothic-Medium.otf'); 
}

* {
  margin: 0;
  font-family: 'Lakehurst Gothic', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
